/*fichier de style css*/
body {
    background-color: rgb(226, 225, 225);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #333;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


header {
    height:200px;
    background-image:url(dEYohann3.gif);
    width: 1480px;
    margin: 0 auto;
    position: relative;
}
  
.header h1 {
  color:#333;
  background-color: rgb(82, 116, 168);
  margin-bottom: 0px;
  padding: 50px 50px;
  text-align: center;
  margin-top: 200px;
}

.contenu {
    width: 1100px;
    text-align: center;
    padding: 8px;
    margin: 0 auto;
    flex: 1 0 auto;
}

.contenu p {
    padding:20px 150px 20px;;
    text-align: justify;
}

footer {
  flex-shrink: 0;
  border: 3px inset black;
  background: rgb(82, 116, 168);
  color: black;
  margin-bottom: 0;
  padding-top: 20px;
}

.boutons {
    display: block;
    margin-top: 10px;
    float: left;
}

.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    padding: 20px 0 20px;
}
.bloc {
  width: 25%;
  margin: 0 30px; 
}

/*contact*/
.footer-reseaux h3,
.footer-contact h3,
.footer-apropos h3,
.footer-navigation h3{
    font-size 25px;
    padding-bottom: 20px;   
}

/*services*/

.liste-reseaux,
.liste-contact,
.liste-apropos,
.liste-navigation {
    list-style-type: none;
}

.liste-services li {
    padding: 2px 0;
}

.liste-reseaux a,
.liste-contact a,
.liste-apropos a,
.liste-navigation a {
    text-decoration: none;
    color: black;
}

.menu {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    top: 36%;
    width: 8em;
    background: rgb(82, 116, 168);
    margin-top: -2.5em;
    border-style: groove;
    border-bottom-width: 5px;
    border-top-width: 5px;
    border-right-width: 5px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    padding-right: 12px;
  }

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }  



.image {
    text-align: center;
    padding: 20px;
}

.image2 {
    text-align: center;
}

img {
     text-align: center;
     padding: 20px;
}



a:hover{
    background-color: gold;
}